// Header 
.header {
  height: 52px;
  position: relative;
}
.cross__menu-btn {
display: none;
}
.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 50px;
}
.header__svg-logo {
  width: 116px;
  height: 14px;
  fill: var(--accent-color);
  cursor: pointer;
}
.header__svg-person {
  width: 14.77px;
  height: 16.62px;
  fill: var(--accent-color);
  margin-right: 18.23px;
  cursor: pointer;
}
.header__svg-heart {
  width: 18px;
  height: 15px;
  fill: var(--accent-color);
  margin-right: 18.23px;
  cursor: pointer;
}
.header__svg-basket {
  width: 14.77px;
  height: 16.62px;
  fill: var(--accent-color);
  margin-right: 27px;
  cursor: pointer;
}
.header__line {
  color: #EAE9E8;
  width: 100%;
  border: 2px solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  position: absolute;
  margin: 0;
}
.header__svg-menu {
  width: 14px;
  height: 16.62px;
  fill: var(--accent-color);
  cursor: pointer;
}

.header__svg-cross {
  width: 14px;
  height: 16.62px;
  fill: var(--accent-color);
  cursor: pointer;
}
.header__svg-menu {
  display: none;
}
.menu-button.is-open .header__svg-menu {
  display: block;
}
.menu-button.is-open .header__svg-cross {
  display: none;
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__list {
  display: none;
}
.header__form-box {
  display: none;
}

@media screen and (min-width: 768px) {
.header__box {
  padding-left: 30px;
}

}
@media screen and (min-width: 1440px) {
.header {
  height: 62px;
}
.header__svg-logo {
  width: 119px;
  height: 16px;
}
.header__list{
  display: block;
  margin-left: 281px;
}
.header__list-item{
  font-weight: 400;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--fourth-accent-color);
  cursor: pointer;
  border: none;
  background: transparent;
} 
.header__form-box {
  display: flex;
}
.header__form {
  margin-right: 10px;
}

.header__btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--accent-color);
  border: none;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}

.header__form-input {
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--accent-color);
  border-bottom: 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  padding: 0;
  width: 150px;
  outline: none;
}

.header__list-leng {
  display: flex;
}

.header__list-leng-item {
  position: relative;
}

.ua,
.en,
.ru {
  position: relative;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0F303F;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--third-accent-color);
  }
}

.ru {
  color: var(--third-accent-color)
}
.header__svg-person {
  margin-right: 20px;
  width: 16px;
  height: 18px;
}
.header__svg-heart {
  margin-right: 20px;
  width: 19px;
  height: 15.86px;
}
.header__svg-basket {
  margin-right: 0;
  width: 16px;
  height: 18px;
}
.header__svg-menu{
  display: none;
}
.header__svg-cross {
  display: none;
} 
.menu-button {
  display: none;
}
.header__box {
  padding: 0 50px;
  height: 60px;
}
.header__list-item:not(:last-child) {
  margin-right: 45px;
}
.header__form {
  margin-right: 109px;   
}
.header__form-input{
  font-size: 16px;
  line-height: 22px;
}
.header__btn{
  font-size: 16px;
  line-height: 22px;
}
.ua,
.en,
.ru{
  font-size: 16px;
  line-height: 22px;
}

// .cross__menu-btn {
//   display: block;
//   border: none;
//   background: transparent;
//   fill: var(--accent-color);
//   position: absolute;
//   left: 1020px;
//   top: 50px;
//   cursor: pointer;
// }
// .line-color::after {
//   position: absolute;
//   z-index: 1;
//   content: "";
//   left: 0;
//   bottom: -18px;
//   display: block;
//   width: 100%;
//   height: 2px;
//   border-radius: 4px;
//   background-color: var(--third-accent-color);
// }
}