// popular
.popular {
  position: relative;
  display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}
.popular__title {
  font-family: var(--third-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 36.33px;
  letter-spacing: 0.045em;
  margin-bottom: 30px; 
  text-align: center;
}
.popular__img {
  width: 165px;
  height: 220px;
  margin-bottom: 20px;
}
.popular__list { 
display: flex;
justify-content: space-evenly;
margin-bottom: 50px;
}
.popular__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list__item-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  color: var(--accent-color);
}
.list__item-type {
  font-family: var(--fourth-font);
  font-weight: 300;
  font-size: 14px;
  line-height: 20.23px;
  color: var(--accent-color);
}
.list__item-price,
.list__item-new-price {
  font-weight: 500;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
}
.list__item-price{
  color: var(--fourth-accent-color);	
  position: relative;
  margin-right: 4px;
}
.list__item-price:before {
	content: "";
	border-bottom: 2px solid;
  border: none;
	position: absolute;
	top: 0;
	left: 0;    
	width: 100%;
	height: 50%;
}
.list__item-new-price {
  color: var(--third-accent-color);
}
.price__box {
  display: flex;
} 
.svg__box {
  position: absolute;
  z-index:2;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.svg__buble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 236);
}
.svg__arrow {
  width: 8.89px;
  height: 21.67px;
  fill: var(--second-accent-color);
}

@media screen and (min-width: 768px) {
  .popular {
    margin-top: 100px;
  }
  .popular__title {
    margin-bottom: 40px;
  }
  .popular__img {
    width: 230px;
    height: 300px;
    margin-bottom: 15px;
  }
  .list__item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  }
  .list__item-type {
    font-size: 16px;
    line-height: 22px;
  }
  .list__item-price,
.list__item-new-price {
  font-size: 14px;
  line-height: 19px;
}
.svg__box {

  margin-top: 28px
}
.left {
  width: 52px;
  height: 70px;
  border-radius:  0 100px 100px  0;
}
.right {
  width: 52px;
  height: 70px;
  border-radius:   100px 0 0 100px ;
}
.svg__arrow {
  width: 12.44px;
  height: 30.33px;
}
.popular__list {
  margin-bottom: 66px;
  }
}
@media screen and (min-width: 1440px){
  .popular {
    margin-top: 119px;
  }
  .svg__box {
    width: 73%;
    margin-top: -54px;
    margin-left: 192px;
    margin-right: 192px;
  }
  .popular__title {
    margin-bottom: 75px;
  }
  .popular__list {
   padding-left: 192px;
   margin-right: 192px;
   margin-bottom: 103px;
    }
  .popular__img {
    width: 230px;
    height: 365px;
    margin-bottom: 29px;
  }
  .list__item-name {
    font-size: 18px;
    line-height: 26px;
  }
  .list__item-type {
    line-height: 23px;
  }
  .list__item-price,
  .list__item-new-price {
    line-height: 20px;
  }
}