// banner

.banner_box{
  margin-bottom: 100px;
}
.banner {
  height: 460px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
    ),
     url('../images/baner/banner1mobile.png');
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}

.brand {
  margin-top: 166px;
  font-family: var(--third-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 24.22px;
  color:white;
}
.barnd_name {
  font-family: var(--third-font);
  font-weight: 500;
  font-size: 30px;
  line-height: 36.33px;
  color:white;
}

.banner_info {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 21.86px;
  color:white;
  margin-top: 35px;
}
@media screen and (min-width: 768px) {
  .banner_box{
    margin-bottom: 150px;
  }
  .banner {
    height: 462px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
      ),
       url('../images/baner/banner.png');

  }
}
@media screen and (min-width: 1200px) {
  .command__list {
    justify-content: space-between;
  }
  .command__photo {
    width: 270px;
    height: 260px;
  }
  .command {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .command__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}