body {
  font-family: var(--main-font);
margin: 0;
background-color: rgb(245, 245, 236);
}
ul,
li,
a,
p,
body {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
img {
  display: block;
}
a {
  list-style: none;
  text-decoration: none;
}