<!-- Arrival -->
<section class="arrival container">

  <div class="arrival__box">
  <div class="arrival__text-box">
  <p class="new__arrival">NEW ARRIVAL</p>
  <p class="arrival__text">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ipLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ip</p>
  <a class="arrival__info" href="#">смотреть коллекцию</a>
</div>
</div>
<div class="arrival__second-box">
  <div class="background__box">
  <p class="arrival__second-text">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ip</p>
</div>
</div>
</section>