<!-- Arrival -->
<section class="arrival container">

  <div class="arrival_box">
  <div class="arrival_text_box">
  <p class="new_arrival">NEW ARRIVAL</p>
  <p class="arrival_text">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ipLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ip</p>
  <a class="arrival_info" href="#">смотреть коллекцию</a>
</div>
</div>
<div class="arrival_second_box">
  <div class="background_box">
  <p class="arrival_second_text">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ip</p>
</div>
</div>
</section>