<footer class="footer container">
 
  <form class="form">
    <p class="footer_title">Будьте в курсе <br>событий</p>
    <input type="email" name="email" id="email" placeholder="E-mail" class="footer__form-mail">
  </form>
  <div class="footer_links">
  <a class="form_link" href="#">О нас</a>
  <a class="form_link" href="#">Распространенные вопросы</a>
  <a class="form_link" href="#">Бренды</a>
</div>
  <hr class="footer_hr">
  <div class="footer_box">
  <p class="footer_box_text">Все права защищены  © 2020 Allegria.com</p>
  <p class="footer_box_text">by Ivanka and Hanna</p>
</div>
 
</footer>