<footer class="footer">
  <hr class="footer__hr2">
  <form class="form">
    <p class="footer__title">Будьте в курсе событий</p>
    <div class="footer__form-box">
    <input type="email" name="email" id="email" placeholder="E-mail" class="footer__form-mail" >
    <button class="footer__btn" type="submit">&#10132</button>
  </div>
  </form>
  <div class="footer__links">
  <a class="form__link" href="#">О нас</a>
  <a class="form__link" href="#">Распространенные вопросы</a>
  <a class="form__link" href="#">Бренды</a>
</div>
  <hr class="footer__hr">
  <div class="footer__box">
  <p class="footer__box-text">Все права защищены  © 2020 Allegria.com</p>
  <p class="footer__box-text">by Buravetska</p>
</div>
 
</footer>