<!-- Header -->
<header class="header">
  <div class="header__box">
    <svg class="header__svg-logo">
      <use href="./images/sprite.svg#logo"></use>
    </svg>
  </div>
  <div class="header__desctop" id="mobile-menu" data-menu>
    <ul class="header__list">
      <button class="header__list-item line-color women">Женщины</button>
      <button class="header__list-item men">Мужчины</button>
    </ul>
      <ul class="menu__list">
        <li class="menu__item">
          <p class="menu__list-name">Одежда &#43</p>
          <ul class="menu__item-list">
            <li class="menu__item-name">Свитшоты и худи</li>
            <li class="menu__item-name">Платья юбки</li>
            <li class="menu__item-name">Футболки и топы</li>
            <li class="menu__item-name">Брюки и шорты</li>
            <li class="menu__item-name">Рубашки</li>
            <li class="menu__item-name">Комбинезоны</li>
            <li class="menu__item-name">Леггинсы</li>
            <li class="menu__item-name">Куртки</li>
            <li class="menu__item-name">Пальто</li>
            <li class="menu__item-name">Плащи</li>
            <li class="menu__item-name">Желетки </li>
            <li class="menu__item-name">Ветровки</li>
          </ul>
        </li>
        <li class="menu__item">
          <p class="menu__list-name">ОБУВЬ &#43</p>
          <ul class="menu__item-list">
            <li class="menu__item-name">Кроссовки</li>
            <li class="menu__item-name">Шлепанцы</li>
          </ul>
        </li>
        <li class="menu__item">
          <p class="menu__list-name">СУМКИ &#43</p>
          <ul class="menu__item-list">
            <li class="menu__item-name">Сумки</li>
            <li class="menu__item-name">Рюкзаки</li>
            <li class="menu__item-name">Кроссбоди</li>
            <li class="menu__item-name">Поясные</li>
            <li class="menu__item-name">Кроссовки</li>
            <li class="menu__item-name">Шопперы</li>
          </ul>
        </li>
        <li class="menu__item">
          <p class="menu__list-name">АКСЕСУАРИ &#43</p>
          <ul class="menu__item-list">
            <li class="menu__item-name">Головные уборы</li>
            <li class="menu__item-name">Перчатки</li>
            <li class="menu__item-name">Шарфы и платки</li>
            <li class="menu__item-name">Носки</li>
            <li class="menu__item-name">Гетры</li>
            <li class="menu__item-name">Другое</li>
          </ul>
        </li>
        <li class="menu__item">
          <p class="menu__list-name">БЕЛЬЕ &#43</p>
          <ul class="menu__item-list">
            <li class="menu__item-name">Разное</li>
          </ul>
        </li>
      </ul>
      <div class="header__form-box">
    <form class="header__form" action="" method="get">
      <button class="header__btn" type="submit">Поиск</button>
      <input class="header__form-input" name="s" placeholder="" type="search"> 
    </form>
    <div class="header__select-leng">
      <ul class="header__list-leng">
        <li class="header__list-leng-item"><input class='ua' type=button value='UA'></li>
        <li class="header__list-leng-item"><input class='en' type=button value='EN'></li>
        <li class="header__list-leng-item line-color"><input class='ru' type=button value='RU'></li>
    </ul>
    </div>
 </div>
    <div class="menu__list-links">
      <a href="#" class="menu__list-link">DEHA</a>
      <a href="#" class="menu__list-link">American vintage</a>
      <a href="#" class="menu__list-link">george gina lucy</a>
      <a href="#" class="menu__list-link">birkenstock</a>
    </div>
  </div>
    <div class="header__box2">
    <svg class="header__svg-person">
      <use href="./images/sprite.svg#person"></use>
    </svg>
    <svg class="header__svg-heart">
      <use href="./images/sprite.svg#heart"></use>
    </svg>
    <svg class="header__svg-basket">
      <use href="./images/sprite.svg#basket"></use>
    </svg>
    <button class="menu-button is-open"
    type="button" 
       aria-expanded="false"
       aria-controls="mobile-menu"
        data-menu-button>
    <svg width="14" height="16.62">
      <use class="header__svg-menu" href="./images/sprite.svg#menu"></use>  
      <use class="header__svg-cross" href="./images/sprite.svg#icon-cross"></use>
    </svg>
    </button>
  </div>

  <hr class="header__line">
</header>