<!-- Header -->
<header class="header">
    <div class="header__box">
      <svg class="header__svg-logo">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
        <ul class="header__list">
        <button class="header__list-item women">Женщины</button>
          <button class="header__list-item men">Мужчины</button>
        </ul>
        <div class="header__form-box">
          <form class="header__form" action="" method="get">
            <button class="header__btn" type="submit">Поиск</button>
            <input class="header__form-input" name="s" placeholder="" type="search">
          </form>
          <div class="header__select-leng">
            <ul class="header__list-leng">
              <li class="header__list-leng-item"><input class='ua' type=button value='UA'></li>
              <li class="header__list-leng-item"><input class='en' type=button value='EN'></li>
              <li class="header__list-leng-item line-color"><input class='ru' type=button value='RU'></li>
            </ul>
          </div>
        </div>
      
      <div class="header__box2">
        <svg class="header__svg-person">
          <use href="./images/sprite.svg#person"></use>
        </svg>
        <svg class="header__svg-heart">
          <use href="./images/sprite.svg#heart"></use>
        </svg>
        <svg class="header__svg-basket">
          <use href="./images/sprite.svg#basket"></use>
        </svg>
        <button class="menu-button is-open" type="button" aria-expanded="false" aria-controls="mobile-menu"
          data-menu-button>
          <svg width="14" height="16.62">
            <use class="header__svg-menu" href="./images/sprite.svg#menu"></use>
            <use class="header__svg-cross" href="./images/sprite.svg#icon-cross"></use>
          </svg>
        </button>
        
      </div>
    </div>
    
    <hr class="header__line">
</header>