<!-- Header -->
<header class="header">
  <div class="header__box">
    <svg class="header__svg-logo">
      <use href="./images/sprite.svg#logo"></use>
    </svg>
  </div>
  <div class="header__desctop">
    <ul class="header__list">
      <li class="header__list-item">Женщины</li>
      <li class="header__list-item active">Мужчины</li>
    </ul>
    <form class="header__form" action="" method="get">
      <button class="header__btn" type="submit">Поиск</button>
      <input class="header__form-input" name="s" placeholder="" type="search"> 
    </form>
    <div class="header__select-leng">
      <ul class="header__list-leng">
        <li class="header__list-leng-item"><input class='ua' type=button value='UA'></li>
        <li class="header__list-leng-item"><input class='en' type=button value='EN'></li>
        <li class="header__list-leng-item line-color"><input class='ru' type=button value='RU'></li>
    </ul>
    </div>
  </div>
    <div class="header__box2">
    <svg class="header__svg-person">
      <use href="./images/sprite.svg#person"></use>
    </svg>
    <svg class="header__svg-heart">
      <use href="./images/sprite.svg#heart"></use>
    </svg>
    <svg class="header__svg-basket">
      <use href="./images/sprite.svg#basket"></use>
    </svg>
    <svg class="header__svg-menu">
      <use href="./images/sprite.svg#menu"></use>
    </svg>
  </div>

  <hr class="header__line">
</header>