<!-- Popular -->
<section class="popular container">

  <p class="popular_title">ПОПУЛЯРНОЕ</p>
  <div class="svg_box">
  <div class="svg_buble">
  <svg class="svg_arrow">
    <use href="./images/sprite.svg#arrow-left"></use>
  </svg>
</div>
<div class="svg_buble">
  <svg class="svg_arrow">
    <use href="./images/sprite.svg#arrow-right"></use>
  </svg>
</div>
</div>
  <ul class="popular_list">
    <li class="popular_item">
      <img class="popular_img" src="./images/article/article.png" alt="article">
      <p class="list_item_name">REPLAY</p>
      <p class="list_item_type">Classic shoes</p>
      <div class="price_box">
      <del class="list_item_price">6100 UAH</del>
      <p class="list_item_new_price">3800 UAH</p>
    </div>
    </li>
    <li class="popular_item">
      <img class="popular_img" src="./images/article/article.png" alt="article">
      <p class="list_item_name">REPLAY</p>
      <p class="list_item_type">Classic shoes</p>
      <div class="price_box">
      <del class="list_item_price">6100 UAH</del>
      <p class="list_item_new_price">3800 UAH</p>
    </div>
    </li>
  </ul>

</section>