<!-- Popular -->
<section class="popular container">

  <p class="popular__title">ПОПУЛЯРНОЕ</p>
  <!-- <div class="svg__box ">
  <div class="svg__buble left ">
  <svg class="svg__arrow ">
    <use href="./images/sprite.svg#arrow-left"></use>
  </svg>
</div>
<div class="svg__buble right">
  <svg class="svg__arrow">
    <use href="./images/sprite.svg#arrow-right"></use>
  </svg>
</div>
</div> -->
  <ul class="popular__list">
    <li class="popular__item">
      <img class="popular__img" src="./images/article/article.png" alt="article">
      <p class="list__item-name">REPLAY</p>
      <p class="list__item-type">Classic shoes</p>
      <div class="price__box">
      <del class="list__item-price">6100 UAH</del>
      <p class="list__item-new-price">3800 UAH</p>
    </div>
    </li>
    <li class="popular__item">
      <img class="popular__img" src="./images/article/article1.png" alt="article">
      <p class="list__item-name">REPLAY</p>
      <p class="list__item-type">Classic shoes</p>
      <div class="price__box">
      <del class="list__item-price">6100 UAH</del>
      <p class="list__item-new-price">3800 UAH</p>
    </div>
    </li>
    <li class="popular__item">
      <img class="popular__img" src="./images/article/article2.png" alt="article">
      <p class="list__item-name">REPLAY</p>
      <p class="list__item-type">Classic shoes</p>
      <div class="price__box">
      <del class="list__item-price">6100 UAH</del>
      <p class="list__item-new-price">3800 UAH</p>
    </div>
    </li>
    <li class="popular__item">
      <img class="popular__img" src="./images/article/article3.png" alt="article">
      <p class="list__item-name">REPLAY</p>
      <p class="list__item-type">Classic shoes</p>
      <div class="price__box">
      <del class="list__item-price">6100 UAH</del>
      <p class="list__item-new-price">3800 UAH</p>
    </div>
    </li>
    <li class="popular__item">
      <img class="popular__img" src="./images/article/article4.png" alt="article">
      <p class="list__item-name">REPLAY</p>
      <p class="list__item-type">Classic shoes</p>
      <div class="price__box">
      <del class="list__item-price">6100 UAH</del>
      <p class="list__item-new-price">3800 UAH</p>
    </div>
    </li>
    <li class="popular__item">
      <img class="popular__img" src="./images/article/article5.png" alt="article">
      <p class="list__item-name">REPLAY</p>
      <p class="list__item-type">Classic shoes</p>
      <div class="price__box">
      <del class="list__item-price">6100 UAH</del>
      <p class="list__item-new-price">3800 UAH</p>
    </div>
    </li>
    <li class="popular__item">
      <img class="popular__img" src="./images/article/article6.png" alt="article">
      <p class="list__item-name">REPLAY</p>
      <p class="list__item-type">Classic shoes</p>
      <div class="price__box">
      <del class="list__item-price">6100 UAH</del>
      <p class="list__item-new-price">3800 UAH</p>
    </div>
    </li>
    <li class="popular__item">
      <img class="popular__img" src="./images/article/article7.png" alt="article">
      <p class="list__item-name">REPLAY</p>
      <p class="list__item-type">Classic shoes</p>
      <div class="price__box">
      <del class="list__item-price">6100 UAH</del>
      <p class="list__item-new-price">3800 UAH</p>
    </div>
    </li>
    <li class="popular__item">
      <img class="popular__img" src="./images/article/article8.png" alt="article">
      <p class="list__item-name">REPLAY</p>
      <p class="list__item-type">Classic shoes</p>
      <div class="price__box">
      <del class="list__item-price">6100 UAH</del>
      <p class="list__item-new-price">3800 UAH</p>
    </div>
    </li>
    <li class="popular__item">
      <img class="popular__img" src="./images/article/article9.png" alt="article">
      <p class="list__item-name">REPLAY</p>
      <p class="list__item-type">Classic shoes</p>
      <div class="price__box">
      <del class="list__item-price">6100 UAH</del>
      <p class="list__item-new-price">3800 UAH</p>
    </div>
    </li>
  </ul>

</section>