<!-- Banner -->
<section class="banner_section">
  <div class="container">
    <div class="banner_box">
  <div class="banner"> 
  <p class="brand">Бренд</p>
  <p class="barnd_name">AMERICAN VINTAGE</p>
  <a class="banner_info" href="#">смотреть коллекцию</a>
  </div>
</div>
</section>
<!-- Arrival -->
  <section class="arrival">
    <div class="arrival_box">
    <!-- <img class="arrival_img"src="./images/arrival/arrival1mobile.png" alt="arrival"> -->
    <div class="arrival_text_box">
    <p class="new_arrival">NEW ARRIVAL</p>
    <p class="arrival_text">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ipLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ip</p>
    <a class="arrival_info" href="#">смотреть коллекцию</a>
  </div>
  </div>
  
  </section>
  <div class="arrival_second_box">
    <div class="background_box">
    <p class="arrival_second_text">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ip</p>
  </div>
  </div>
  <!-- Popular -->

  <section class="popular">
    <p class="popular_title">ПОПУЛЯРНОЕ</p>
    <ul class="popular_list">
      <li class="popular_item">
        <img class="popular_img" src="./images/article/article.png" alt="article">
        <p class="list_item_name">REPLAY</p>
        <p class="list_item_type">Classic shoes</p>
        <p class="list_item_price">6100 UAH</p>
        <p class="list_item_new_price">3800 UAH</p>
      </li>
      <li class="popular_item">
        <img class="popular_img" src="./images/article/article.png" alt="article">
        <p class="list_item_name">REPLAY</p>
        <p class="list_item_type">Classic shoes</p>
        <p class="list_item_price">6100 UAH</p>
        <p class="list_item_new_price">3800 UAH</p>
      </li>
    </ul>
  </section>
<!-- decoration -->
  <section class="line">
    <hr class="hr1">
    <svg class="line_svg">
      <use href="./images/sprite.svg#logo"></use>
    </svg>
    <hr class="hr2">
  </section>

  <!-- about -->

  <section class="about">
      <p class="about_title_p">о</p> 
      <p class="about_title">НАС</p>
    <p class="about_text">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLoreLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumipLorem ipsumLoremLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ipsumLorem ipsumLorem </p>
</section>
  <!-- footer -->

  <footer class="footer">
    
      <form class="form">
        <p class="footer_title">Будьте в курсе событий</p>
        <input type="email" name="email" id="email" placeholder="E-mail" class="footer__form-mail">
      </form class="form">
      <a class="form_link" href="#">О нас</a>
      <a class="form_link" href="#">Распространенные вопросы</a>
      <a class="form_link" href="#">Бренды</a>
      <hr>
      <div class="footer_box">
      <p class="footer_box_text">Все права защищены  © 2020 Allegria.com</p>
      <p class="footer_box_text">by Ivanka and Hanna</p>
    </div>
  </footer>
  </div>
