<section class="main_section">
  <div class="container">
    <div class="box">
  <div class="banner"> 
  <p class="brand">Бренд</p>
  <p class="barnd_name">AMERICAN VINTAGE</p>
  <p class="info">смотреть коллекцию</p>
  </div>
</div>
  <div class="arrival">
    <p class="new_arrival">NEW ARRIVAL</p>
    <p class="arrival_text">Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ipLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ip</p>
    <p class="info">смотреть коллекцию</p>
  </div>
  </div>
</section>