<section>
<div>
<p class="test">some problem with build</p>  
<svg class="svg">
  <use href="./images/sprite.svg#arrow-right"></use>
</svg>
<svg class="svg">
  <use href="./images/sprite.svg#eye"></use>
</svg>
<svg class="svg">
  <use href="./images/sprite.svg#eye-close"></use>
</svg>
<svg class="svg">
  <use href="./images/sprite.svg#heart-color"></use>
</svg>
<svg class="svg">
  <use href="./images/sprite.svg#logo"></use>
</svg>
<img src="./images/about/about.png" alt="about">
<img src="./images/article/article.png" alt="about">
</div>

</section>